@media (min-width:901px) {
    #navBar{
        position: fixed;
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        left:0;
        z-index: 5;
    
    
        & .block{
            height: fit-content;
            min-height: 55vh;
            display: flex;
            flex-direction: column;
            background-color: #315367;
            justify-content: space-evenly;
            background: linear-gradient(to bottom, #3d6177, #244050);
            align-items: center;
            color: white;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-inline: 10px;
            animation: flow-in 1s ease 200ms 1 normal forwards;
            
            & span{
                font-size: 35px;
                cursor: pointer;
            }
    
            & button{
                background-color: transparent;
                height: fit-content;
                width: fit-content;
                border: none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;
                color: whitesmoke;
                font-size: 15px;
                opacity: 0.7;
                transition: 300ms;
                cursor: pointer;
    
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    
    @keyframes flow-in {
        0%{
            margin-left: -200px;
            opacity: 0.2;
        }
        100%{
            margin-left: 0%;
            opacity: 1;
        }
    }
}

@media (max-width:901px) {
    #navBar{
        position: fixed;
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        top: 0;
        left:0;
        z-index: 5;
    
    
        & .block{
            height: fit-content;
            min-height: fit-content;
            display: flex;
            flex-direction: row;
            background-color: #315367;
            justify-content: space-evenly;
            background: linear-gradient(to bottom, #3d6177, #244050);
            align-items: center;
            color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 10px;
            animation: flow-in 1s ease 200ms 1 normal forwards;
            
            & span{
                font-size: 35px;
                cursor: pointer;
            }
    
            & button{
                background-color: transparent;
                height: fit-content;
                width: fit-content;
                border: none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 600;
                color: whitesmoke;
                font-size: 15px;
                opacity: 0.7;
                transition: 300ms;
                cursor: pointer;
    
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    
    @keyframes flow-in {
        0%{
            margin-top: -200px;
            opacity: 0.2;
        }
        100%{
            margin-top: 0%;
            opacity: 1;
        }
    }
}