@media(min-width:901px){
    #section6{
        height: fit-content;
        padding-top: 10vh;
    
        & .pictures{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            text-align: center;
            position: relative;
    
            & img{
                width: 100%;
                height: 50vh;
                object-fit: cover;
            }
    
            & h1{
                color: white;
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.519);
                font-size: 50px;
                font-family: 'Kaushan Script';
    
            }
    
            & .unselected{
                height: 10vh;
                display: flex;
                position: relative;
                overflow: hidden;
                transition: 400ms;
    
                & img{
                    filter: brightness(20%);
                }
            }
    
            & .selected{
                display: flex;
                position: relative;
                height: 50vh;
                transition: 400ms;
            }
    
            & dl{
                margin-block: 0;
                cursor: pointer;
    
                & p{
                    position: absolute;
                    display: flex;
                    height: fit-content;
                    width: fit-content;
                    font-weight: 600;
                    top: 10%;
                    margin: 0;
                    font-size: 40px;
                    right: 5%;
                    color: whitesmoke;
                    text-shadow: 0 0 3px black;
                }
            }
        }
    }
}

@media(max-width:900px){
    #section6{
        height: fit-content;
        padding-top: 10vh;
    
        & .pictures{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            text-align: center;
            position: relative;
    
            & img{
                width: 100%;
                height: 50vh;
                object-fit: cover;
            }
    
            & h1{
                color: white;
                text-shadow: 0 0 3px rgba(0, 0, 0, 0.519);
                font-size: 50px;
                font-family: 'Kaushan Script';
    
            }
    
            & .unselected{
                height: 10vh;
                display: flex;
                position: relative;
                overflow: hidden;
                transition: 400ms;
    
                & img{
                    filter: brightness(20%);
                }
            }
    
            & .selected{
                display: flex;
                position: relative;
                height: 50vh;
                transition: 400ms;
            }
    
            & dl{
                margin-block: 0;
                cursor: pointer;
    
                & p{
                    position: absolute;
                    display: flex;
                    height: fit-content;
                    width: fit-content;
                    font-weight: 600;
                    top: 10%;
                    margin: 0;
                    font-size: 22px;
                    right: 5%;
                    color: whitesmoke;
                    text-shadow: 0 0 3px black;
                }
            }
        }
    }
}